@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  overflow-x: hidden;
}
::-webkit-scrollbar {
  display: none;
  scroll-behavior: smooth;
}
:root {
  --font-inter: Inter, sans-serif;
  --font-roboto-mono: Roboto Mono, monospace;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}
